*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eaeaea;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    background: #f5f5f5;
    box-shadow: #dbdbdb;
}
.container.slide.item{
    width: 200px;
    height: 300px;
    position: absolute;
    transform: translate(0, -50%);
    border-radius: 20px;

    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;

}
.slide.item:nth-child(1),
.slide.item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border: 100%;
    height: 100%s;
}
.slide.item:nth-child(3){
    left: 50%;
}
.slide.item:nth-child(4){
    left: calc(50% + 220px);
}
.slide.item:nth-child(5){
    left: calc(50% + 440px);

}
.slide.item:nth-child(n + 6){
    left: calc(50% + 640px);
    opacity: 0;
}