.navbar-light .navbar-nav .nav-link{
    color: black;
    font-size: 22px;
}
.navbar-light .navbar-brand{
    color: black;
    font-size: 30px;
}
header{
    /* height:10vh;
    min-height: 400px; */
    background-size: cover;
}
/* /media Query/ */
@media only screen and (max-width:600px){
    header{
        background-position: 20% 33%;
      }
}